body {
  font-family: 'Oswald', sans-serif;
}


nav {
  width: 100vw;
}

header {
  background-image: url(../img/bg_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 550px 0 100px 0;
  margin-bottom: 20px;
}

.subrayado-header {
  max-width: 20%;
}

hr {
  height: 2px;
  margin: 1px auto;
  max-width: 8%;
}

.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#experience i {
  color: #800080;
}

#works {
  background-color: #800080;
  padding: 80px 50px;
}

span {
  font-size: 40px;
}

h1 {
  font-size: 73px;
}

.separador {
  background-color: black;
  width: 100%;
}

#contact span {
  font-size: 23px;
}

.subtitulos {
  font-size: 48px;
}
